@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&family=Rubik:wght@300;400;500;600;700&display=swap");

/*Colors*/
$primary: #d43334;
$secondary: #9a9798;
$white: white;
$black: black;
$grey: #707070;
$light-grey: #f0f0f0;
$success: #34eb7d;
$danger: red;
$border: #d5e3f3;
$active: #7af1cb;
$whatsapp: #25d366;

/*Fonts*/
$primary-font: "Nunito", sans-serif;
$secondary-font: "Rubik", sans-serif;
$font-family-base: $primary-font;
$enable-negative-margins: true;

/*Font-sizes*/
$font-normal: normal;
$font-lighter: lighter;
$font-semibold: 600;
$font-bold: bold;
$font-bolder: bolder;

$line-height-1: 1.1;

$border-radius-1: 10px;

/*Theme*/
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "grey": $grey,
  "light-grey": $light-grey,
  "white": $white,
  "success": $success,
  "black": $black,
  "danger": $danger,
  "border": $border,
  "active": $active,
  "wpp": $whatsapp,
) !default;

/*Spaers*/
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7,
  10: $spacer * 8,
  12: $spacer * 10,
  20: $spacer * 16,
  22: $spacer * 18,
);

.instagram-gradient {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $secondary-font;
  font-weight: 400 !important;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
