@import "custom/normalize";
@import "custom/theme";
@import "custom/navbar";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "custom/splide";
@import "../node_modules/@splidejs/splide/dist/css/splide.min.css";

.picture-test {
  background-image: url(../public/img/backgrounds/wallup-292832.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 100vh;
  min-width: 100vw;
}

.filter {
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);
  -moz-filter: grayscale(75%);
}

.filter-none {
  filter: grayscale(0);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}

.o-fit {
  object-fit: cover;
}

.wpp-circle {
  border-radius: 50% 50% 5px 50%;
  opacity: 1 !important;
  transition: all 1.5s;
  display: block;
}

.card-body {
  transition: all 0.3s ease;
}
.card-body:hover {
  transform: scale(1.05);
}
